.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-container:before{
    content: "";
    display: table;
    clear: both;
}

.w3-border-light-grey{
    border-color: #f1f1f1!important;
}

.w3-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc!important;
}